@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/** APP COMPONENT **/

.bodyDiv,
body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    height: 100%;
}

.bgOrange {
    background-color: #ED553E;
    height:55%;
}

/** LOGO COMPONENT **/

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10pt;
}

.eLogo {
    margin: 16pt 0pt 16pt 30pt;
    width: 40pt;
}

.budLightLogo {
    width: 70pt;
    margin: 16pt;
}

/** TARGETS COMPONENT **/

.pagMenu {
    background-color: white;
    border-radius: 10px;
    width: 82px;
    height: 100%;
    padding: 0;
}

.Target-container {
    display: flex;
    justify-content: center;
    height:70%;
}

.Logo-container {
    background: red;
    border-radius: 30px;
    width: 150px;
    height: 150px;
}

.divTarg {
    width: 100%;
}

.targetBg {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
}

.targetBg>p {
    font-size: 16px;
}

.divQR {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.QRImg {
    width: 50%;
}

.targetMenu {
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.pagMenu>p {
    font-size: 12pt;
    color: #333333;
    text-align: center;
    padding: 0;
    margin: 8px;
}

.tresPts{
    width:40px;
}

.tickNum {
    margin-top: 30px;
}

.targetBg>div p:nth-child(2),
.mail {
    padding: 0;
    margin-top: -12px;
    font-size: 16pt;
}

.price{
    font-size:20pt;
}

.targetBg>div p:nth-child(1) {
    color:#909090;
    font-size:12pt;
}

.mobileContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.txtAlign{
    text-align: start;
}

.mail{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}

.index{
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

button{
    border-radius: 10px;
    font-size: 12pt;
    color:white;
    padding:4px 20px;
    margin-top: 8px;
    border-color: #ED553E;
    background-color: #ED553E;
}